<h1 mat-dialog-title>
  <strong>{{ action }} item</strong>
</h1>
<div mat-dialog-content>
  <h2 *ngIf="action != 'Delete'; else elseTemplate"></h2>
  <ng-template #elseTemplate>
    <h2>Are you sure you want to delete {{ local_data.name }}?</h2>
  </ng-template>
  <mat-form-field>
    <input placeholder="ID" matInput [(ngModel)]="local_data.id" />
  </mat-form-field>
  <mat-form-field>
    <input placeholder="In Stock" matInput [(ngModel)]="local_data.inStock" />
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="local_data.name" />
  </mat-form-field>
  <mat-form-field>
    <input
      placeholder="Description"
      matInput
      [(ngModel)]="local_data.description"
    />
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Colour" matInput [(ngModel)]="local_data.colour" />
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Quantity" matInput [(ngModel)]="local_data.quantity" />
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Price" matInput [(ngModel)]="local_data.price" />
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Size" matInput [(ngModel)]="local_data.size" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    Cancel
  </button>
</div>
